
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url(login.jpg); /* Change 'login.jpg' to the path of your background image */
    background-size: cover;
    /* background-position: center; */
}
.login-form{
    background: hwb(26 1% 79% / 0.603);
    border: 3px solid hwb(26 1% 79% / 0.603);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(25px);
    text-align:left;
    color: rgba(0, 0, 0, 0.767);
    width: 400px;
    /* box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15); */
    box-shadow: 0px 0px 20px 10px hwb(26 1% 79% / 0.603);

}
.login-title {
    font-size: 15px;
    /* margin-bottom: 40px; */
    color: beige;
    margin-left:25 ;
    font-family:initial;

}
/* .input-box {
    margin: 20px 0;
    position: relative;
}
.input-box input {

    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 17px;
    color: #f330a8;
    font-weight: 600;
}
.input-box input::placeholder {
    color: plum;
    font-size: 17px;
    font-weight: 500;
}
.input-box input:focus {
    outline: 3px solid rgba(255, 29, 225, 0.8);
}
.input-box input::-ms-reveal {
    filter: invert(100%);
}
.input-box i {
    position: absolute;
    left: 15px;
    top: 65%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 29, 225, 0.8); /* Change color if needed
}
.remember-forgot-box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px;
}
.remember-forgot-box label {
    display: flex;
    gap: 8px;
    cursor: pointer;
}
.remember-forgot-box input {
    accent-color: black;
    cursor: pointer;
}
.remember-forgot-box a {
    color: white;
    text-decoration: none;
}
.remember-forgot-box a:hover {
    text-decoration: underline;
}
.login-btn {
    width: 100%;
    padding: 10px 0;
    background: hwb(300 40% 4%);
    border: none;
    border-radius: 99px;
    color:white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.login-btn:hover {
    background: hwb(300 40% 4%);
}*/
.register{
    background: hwb(26 1% 79% / 0.603);
    border: 3px solid hwb(26 1% 79% / 0.603);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(25px);
    text-align:left;
    color: rgba(0, 0, 0, 0.767);
    width: 400px;
    /* box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15); */
    box-shadow: 0px 0px 20px 10px hwb(26 1% 79% / 0.603);


}
.register-titel {
    font-size: 15px;
    /* margin-bottom: 40px; */
    color: beige;
    margin-left:25 ;
    font-family:initial;
}
.register a:hover {
    text-decoration: underline;
}
.forget{
    color: beige;
   font-family:initial;
   margin-right:12px ;
}
.forget:hover{
    background:hwb(26 1% 79% / 0.603); ;
}
.btn{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    background-color: hwb(26 1% 79% / 0.603);
}
